<style>
    .navbar{
        display: flex;
        justify-content: space-between;
        padding:10px;
    }
    
    .navbar a {
        text-decoration: none;
        color: burlywood;
    }


</style>


<div class="navbar">
    <a href="http://localhost:8080/chats"><h3>QuickChat</h3></a>
    <form method="GET" action="/chats/new" >
        <button class="msg-btn">New Chat</button>
    </form >
</div>
<hr>