<% layout("/layouts/boilerplate.ejs") -%>
    
<% let arr = []; %>

<% for (let chat of chats) { %>
  <% if (!arr.includes(chat.from)) { %>
    <div class="nametag">
      <p><b><%= chat.from %></b></p>
      <a href="http://localhost:8080/chats">Message them</a>
    </div>
    <% arr.push(chat.from); %>
  <% } %>
<% } %>
