<% layout("/layouts/boilerplate.ejs") -%>
    
    
<% for(let chat of chats) { %>
    <div class="nametag">
        <p><b><%= chat.from %></b></p>
        <a href="http://localhost:8080/chats" >Message them</a>
    </div>
<% } %>
